body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:#050505;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
#home , #about , #services , #projects ,#contact {
    height: 570px;
    margin-top: 2rem;
    margin-bottom: 2rem;
     padding: 2rem;
}
h2{
    color:rgb(253, 166, 181) ;
}
/* hader */
header{
    background-color: rgb(253, 166, 181);
    height: 60px;
}
header ul{
    margin-right: 20rem;
}
ul li{
    margin-left: 2rem;
}
ul li a{
    text-decoration: none;
    color: white;
    border-radius: 2rem;
}
ul a:hover {
    text-decoration: underline;
    background-color: pink;
    transform: translateY(-1rem);
}
#logo{
    margin-left: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
/* homw */
#home h2 span{
    color: rgb(253, 166, 181);
}
p{
    text-align: justify;
}
#home button{
    background-color: rgb(253, 166, 181);
    border-radius: 20px;
    width: 10rem;
    
}
#home button:hover{
    background-color: pink;
}
a{
    text-decoration: none;
    color: white;
}
 img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
#icons div{
    margin-right: 2rem;
}
#icons div:hover{
    border-radius: 50%;
    background-color: pink;
     transform: translateY(-10px)
}
/* about */
img[alt="mon img"]{
    width: 400px;
    height: 300px;
}
/* services */
#services{
    height: 700px;
}
/* contact */
form{
    display: flex;
    flex-direction: column;
    width: 30rem;
}
#contact{
    height: auto;
}
/* footer */
footer{
    background-color:rgb(253, 166, 181);
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
footer ul {
    list-style: none;
    display: flex;
}
 .card:hover{
    transform: translateY(-1rem);
}