:root {
  --body-backgrouncolor: black;
  --main-color: #ff4dd3;
  --second-color:white;
  --padding-section: 60px;
}
html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-backgrouncolor);
  font-family: 'Poppins', sans-serif;
  color: var(--main-color);
  line-height: 1.6;
}
p{
  color: var(--second-color);
}
/* header */
header {
  position: fixed;  
  top: 0;            
  left: 0;           
  width: 100%;  
  background-color: black;  
  z-index: 1;
  box-shadow: 0 2px 6px var(--main-color); 
}
#logo span{
   color: var(--main-color);
}
a {
  color: var(--main-color) !important;
}
ul li{
  margin-right: 40px;
}
/* home */
img{
  width: 100%;
  height: auto;
}
/* about */
.tech-slider {
  padding: 40px;
  width: 100%;
  overflow: hidden;
}
.tech-track {
  display: flex;
  gap: 40px;
  animation: slide 10s linear infinite; 
}
.tech-track img {
  height: 100px;
  width: auto;
  object-fit: contain;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}
/* section contact */
#contact{
   max-width: 800px; /* never bigger than 200px */
  min-width: 120px;
}
.btnContact{
  background-color: var(--main-color);
  border: var(--main-color);
  margin: auto;
}
/* footer */
footer{
  text-align: center;
}

