:root {
  --body-backgrouncolor: black;
  --main-color: #ff4dd3;
  --second-color:white;
  --padding-section: 60px;
  --margin-for-space:10%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-backgrouncolor);
  font-family: 'Poppins', sans-serif;
  color: var(--main-color);
  line-height: 1.6;
}
p{
  color: var(--second-color);
}
#home, #about, #services, #contact {
  padding-top: 120px;
}
/* header */
header {
  height: 80px;
  position: fixed;  
  top: 0;            
  left: 0;           
  width: 100%;  
  background-color: black;  
  z-index: 1;
  box-shadow: 0 2px 6px var(--main-color); 
  padding: 20px;
}
#logo span{
   color: var(--main-color);
}
a {
  color: var(--main-color) !important;
}
ul li{
  margin-right: 40px;
}
#navbarNav {
  flex-grow: 0 !important;
  transition: none !important;
}
#navbarNav.show {
  background-color: var(--second-color);
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}
/* home */
.containerImg img{
width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: auto;
}
.containerImg{
  border-radius: 50%;
  box-shadow: 0 0 20px var(--main-color),0 0 20px var(--main-color),0 0 20px var(--main-color);
  /* margin-left: 3rem; */
}
#buttonDow{
  background-color: var(--main-color);
  width: 10rem;
  padding: 8px;
  border-radius: 10px;
}
#buttonDow a{
  text-decoration: none;
  color: white !important;
}
/* about */
.tech-slider {
  padding: 40px;
  width: 100%;
  overflow: hidden;
}
.tech-track {
  display: flex;
  gap: 40px;
  animation: slide 5s linear infinite; 
}
.tech-track img {
  border-radius: 25%;
  height: 70px;
  width: auto;
  object-fit: contain;
  box-shadow: 0px 8px 9px var(--second-color);
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}
/* section contact */
#contact{
   max-width: 800px;
  min-width: 120px;
}
.btnContact{
  background-color: var(--main-color);
  border: var(--main-color);
  margin: auto;
}
/* footer */
footer{
  text-align: center;
}
/* animation */
li a:hover , li a:focus{
  background-color:#f57cd7;
  border-radius: 10px;
  color: white !important;
  padding: 10px;
}
a:hover , #icons svg:hover{
 transform: translateY(-10px);
}