body {
  font-family: Arial, sans-serif;
  background-color:#1E1E1E;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.nav-link{
    color: orange;
}
#home{
    height: 600px;
    margin-top: 50px;
}
#home img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-attachment: fixed;
}
